{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "edge": "14"
        }
      }
    ],
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "minify",
          { "builtIns": false }
        ]
      ]
    }
  },
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-regenerator",
    "react-hot-loader/babel"
  ]
}