.preloader {
    position: fixed;
    background-position: center;
    margin: -50px 0 0 -50px;
    left: 50%;
    top: 45%;
}

.loader {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}

@keyframes load1 {
    50% {
        transform: rotateZ(-1060deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.loader1::before {
    content: "";
    color: white;
    height: 50px;
    width: 50px;
    background: transparent;
    border-radius: 50%;
    border: 10px solid transparent;
    border-color: #039BE5 #039BE5 transparent transparent;
    animation: load1 2s infinite;
}

.detail-field {
    max-height: 500px;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}