<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - H::Judge</title>
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <base href="~/" />
</head>
<body>
    @RenderBody()

    <script type="text/javascript" src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
